@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Roboto:wght@300;400;700;900&family=Sigmar+One&family=Zen+Tokyo+Zoo&display=swap');



/* font-family: 'Otomanopee One', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sigmar One', cursive;
font-family: 'Zen Tokyo Zoo', cursive; */

#main-container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
     
}

 #hero {
  
    /* font-family: 'Otomanopee One', sans-serif; */
    font-family: 'Roboto', sans-serif;

}

.nav-links{
    font-family: 'Otomanopee One', sans-serif;
    color: rgb(255, 251, 0);
}
 .active{
     color: rgb(15, 153, 123)!important;
 }


 .nav-bg{
     background-color: rgb(0, 247, 255) !important;
     color: white !important;
     transition: 2s;
 }

.speaker{
    position: absolute;
    top: 100px;
    font-family: sans-serif;
    color: gray;
    padding: 20px;
     
}
 
  

/* pratishtha CSS */


@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
    }

    .box {  
    animation: 0.65s ease-out 0s 1 slideIn;
    
    background: #333;
    padding: 50px;
    }

    .privateclass-container{
        height: 700px;
        background-image: linear-gradient(0deg,rgba(255, 255, 255, 0.87),rgb(132, 201, 206));
    }

    .hover-item {
    transition: 0.35s;
    }
    
    .hover-item:hover {
    transform: translate(0, -25px); 
    }

    .teachers{
        height: 170px;
        width: 170px;
    }